{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "semi": false,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": false,
    "singleAttributePerLine": true,
    "printWidth": 100,
    "trailingComma": "none",
    "arrowParens": "avoid"
}