@import "tailwindcss";
@import "./ant-design.scss";

:root {
  --white: #ffffff;
  --black: #171717;
  --blue: #1677ff;
}

html, body {
  height: 100%;
}

body {
  background: var(--black);
  color: var(--white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}